### Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as num
import os

In [2]:
path = r'C:\Users\ACER NITRO\Documents\Achievement 4'

### Import Data set

In [5]:
# imprt data set
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'prepared Data', 'orders_products_merged.pkl'))

In [7]:
# Create subset
df = df_ords_prods_merge[:1000000]

### If statement with user defined function

In [8]:
# define a function.
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [14]:
#apply the function.
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\ACER NITRO\AppData\Local\Temp\ipykernel_6624\935325922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [16]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

### If statement with loc function

In [26]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [27]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [28]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [29]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [31]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [36]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [33]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [38]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

### If statemet with for loop

In [39]:
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [41]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [56]:
df_ords_prods_merge['Busiest_day'] = result

In [57]:
df_ords_prods_merge['Busiest_day'].value_counts(dropna = False)

Busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

### Step 2: create new column 'Busiest_days'

In [50]:
# Create new if-statement for-loop 
result_2 = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")
  elif value == 4 or value == 3:
    result_2.append("Least busy days")
  else:
    result_2.append("Regularly busy")

In [58]:
df_ords_prods_merge['Busiest_days'] = result_2

### Step3: Check the values of this new column for accuracy. Note any observations in markdown format.

In [53]:
df_ords_prods_merge['Busiest_days'].value_counts(dropna = False)

Busiest_days
Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: count, dtype: int64

The value count for label busiest days is corresponding to the sum of two busiest days of the week (0 and 1) and The value count for label Leasr days is corresponding to the sum of two busiest days of the week (3 and 4 ), confirming that the loop operated correctly

### Step 4 : Create a new column containing these labels called â€œbusiest_period_of_day"

In [68]:
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [65]:
result_3= []

for value in df_ords_prods_merge["order_hour_of_day"]:
 if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result_3.append("Most orders")
 elif value in [17, 8 ,18 ,19, 20, 7, 21, 22]:
    result_3.append("Average orders")  
 else: 
    result_3.append("Fewest orders")

In [66]:
df_ords_prods_merge['busiest_period_of_day'] = result_3

In [70]:
df_ords_prods_merge[['order_hour_of_day', 'busiest_period_of_day']].head(10)

   order_hour_of_day busiest_period_of_day
0                  8        Average orders
1                  7        Average orders
2                 12           Most orders
3                  7        Average orders
4                 15           Most orders
5                  7        Average orders
6                  9           Most orders
7                 14           Most orders
8                 16           Most orders
9                  8        Average orders

### Step5: Print the frequency for this new column

In [67]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

### Step7: Export your dataframe as a pickle file

In [71]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged_updated.pkl'))